<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="nnernklang_dnConnectionString" connectionString="Data Source=calantha.arvixe.com;Initial Catalog=nnernklang_dn;User ID=nnernklang;Password=$nnernklang&amp;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
      <pages theme="Blue"></pages>
    </system.web>

</configuration>
